$fz = 12px
$bg_color = #f4f5f5
$text_color = #333333
 $text_color_normal = #666666

border-radius(num)
    -webkit-border-radius num
    -ms-border-radius num
    -moz-border-radius num
    -o-border-radius num
    border-radius num
html
    font-size $fz 
    font-family -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    text-rendering optimizeLegibility
    color $text_color
    background-color $bg_color

body
    font-size $fz 
    margin 0
    overflow-y scroll
    -webkit-overflow-scrolling touch

a.button
    border-radius (50%)
    //注意兼容性的问题
    // -webkit-animate wz 1s 
    //  animate wz 1s 
.book-card
    max-width 720px
    width 100%
    margin 0 auto 12px
    position relative
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15)
    background-color #ffffff

.book-bought
    display flex 
    padding 8px 22px 8px 15px
    border-top 1px solid #ecf0f3
    cursor pointer
    .label
        // display inline-flex
        color $text_color_normal
        font-weight 400
        font-size 16px
        display inline-flex
        align-items center
        flex-shrink: 0
    .users
        height 24px
        margin-left 24px
        flex-grow 1
        // flex 1
        display flex
        flex-wrap wrap
        overflow hidden
        flex-shrink: 0
        
        .user
            align-items: center 
            border-radius (50%)
            width 24px
            height 24px
            background-size cover
            background-repeat no-repeat
            background-position 50%
            margin-left 10px
            &:fist-child
                 margin-left 0

        
       

